# Transition from .Net to Python

## Meta
| time | audience | link | content abstract |
|------|------| ------|------|
| 2:00 | .net/C# developer would like to learn machine learning and python programming |  |  |

## Agenda
* [Basic Types](#Basic-Types)
* [Basic Operations](#Basic-Operations)
* [Basic functions](#Basic-Functions)
* [Basic Flow](#Basic-Flow)
* Data Structure
* Class
* Libs
* Tools

___

### Basic Types
* int
* float
* str
* bool
* object

In [1]:
type(1)

int

In [2]:
type("hello")

str

In [38]:
type(1.5)

float

In [39]:
type(False)

bool

In [3]:
type(object())

object

In [4]:
# convert type
float(1)

1.0

In [5]:
# parse string
anything = "1093"
score = float(anything)
score

1093.0

---

### Basic Operations

In [6]:
# = + - * / %, same as C#
1 + 3 % 2 * 2

3

In [7]:
# / will convert int to float
3/2

1.5

In [8]:
# divide and round
3//2

1

In [9]:
# power
3**3

27

In [10]:
# string multiplication
"hello" * 3

'hellohellohello'

In [11]:
# and, or, not = C# &&, || , !
not ((1 == 2) or (3 == "3") and (4 == 4))

True

---

### Basic Functions

In [12]:
# Get type of object = typeof in C#
type(1.5)

float

In [13]:
# write output to console = console.writeline in C#
print("hello world from {}, how cool is that {}".format("lin","!"))

hello world from lin, how cool is that !

In [14]:
len("hello world")

11

#### Tuple

Tuple is immutable

In [33]:
# Tuple
gps= (13.2323,200.20002)
print(gps)
print(type(gps))

(13.2323, 200.20002)
<class 'tuple'>

In [34]:
# tuple assignment
latitude, longtitude = gps
print(latitude,longtitude)

13.2323 200.20002

---

### Data Structure

Python is a dynamic programming language, everything is derived from object including basic type int/float/str. Following are the common used data types.

* List
* Set
* Dictionary
* Range
* Tuple

#### List
List is the most powerful built-in data strucure, it's the foundation of python data science project.

*Python List = C# Array + List<> + more*

In [15]:
#Python list can store anything(object)
list = [0,"helloindex1",2,3,4]
print(type(list))
list

<class 'list'>

[0, 'helloindex1', 2, 3, 4]

In [16]:
# powerful indexing and reverse indexing
print(list[0])
print(list[1])
print(list[-1])

0
helloindex1
4

In [17]:
# powerful slicing
months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
print(months[6:9]) 
print(months[2:])

['July', 'August', 'September']
['March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

In [18]:
# powerful built-in function : min, max, len, sorted
# min,max,sum,sorted
print(len(months))
print(min(months))
print(max(months))
print(sorted(months))
print("+".join(months))

12
April
September
['April', 'August', 'December', 'February', 'January', 'July', 'June', 'March', 'May', 'November', 'October', 'September']
January+February+March+April+May+June+July+August+September+October+November+December

In [19]:
# mutliple item editing
months[:2] = [0,1]
print(months)

[0, 1, 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

In [20]:
# add item
months.append("great")
print(months)

[0, 1, 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December', 'great']

In [21]:
# len of the array
len(months)

13

#### Set

Unique set of items, no duplicate, not ordered

In [22]:
countries = ["USA","CHINA","INDIA","USA","CHINA"]
print(len(countries))
countries_set =set(countries)
print(len(countries_set))

5
3

In [23]:
# add item to set
countries_set.add("RUSSIA")
countries_set

{'CHINA', 'INDIA', 'RUSSIA', 'USA'}

#### Dictionary

Similar to c# dictionary

In [24]:
zips = {92078:"san marcos",92009:"carlsbad",91001:"el segundo"}
cityname = zips[92078]
cityname

'san marcos'

#### Range

widely used in for loop

In [25]:
# range function to generate a list of numbers
print(range(20))

range(0, 20)

---

### Coding Style

**Simplicity**  
* no ";" at the end of line
* no "{}" to capture the scope of function, if/else, try/catch and block of code
* no "()" to if, for, while 

**Different**
* use # to comment code
* use """ for function specification
* use ":" and indentation to indicate starting of the scope
* use "elif" instead of "else if"
* " or ' mean the same thing to declare str

In [26]:
if 100> 99:
    print("there you are")
elif 100 > 101:
    print("again")
else:
    print("oops")

there you are

In [27]:
# for loop
for month in months:
    print(month)

0
1
March
April
May
June
July
August
September
October
November
December
great

In [28]:
# there is no index version of for loop, so here is the mimic version 
for i in range(len(months)):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12

In [29]:
# while loop
i = 0
while i < len(months):
    print(i)
    i+= 1

0
1
2
3
4
5
6
7
8
9
10
11
12

In [30]:
try:
    non_existing_city = zips[92111] #this should throw exception
except:
    print('encounter exception')
non_existing_city = zips.get(92011)
print(non_existing_city)

encounter exception
None

#### function 

* no public, private
* no parameter type
* no return signature type
* default return None

In [37]:
def print_numbers(items,allowNegative = True):  
    output_items = items
    if not allowNegative:  
        output_items = []
        for i in items:
            if i > 0:
                output_items.append(i)   
    
    for i in output_items:
        print(i)      

items = [13,99,-10,32]
print_numbers(items,False)
print_numbers(items)

13
99
32
13
99
-10
32

In [31]:
def boundary(items):
    return min(items),max(items)

items = [7,2,9,0,4]
print(boundary(items))

(0, 9)